body {
  font-family: "Times New Roman", Times, serif;
}

.link {
  color: orangered;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 2rem;
  width: 36rem;
  border: solid black;
  display: flex;
  flex-direction: column;
}

form {
  text-align: left;
  padding: 10px;
  align-self: center;
  width: 28rem;
  display: flex;
  flex-direction: column;
}

input,
button {
  margin: 0.4rem 0 1.2rem;
  padding: 0.5rem;
}

.landing-button {
    margin: 0rem 1rem 1.5rem;
    align-self: center;
    width: fit-content;
}

.error-message {
  color: red;
  margin-top: -0.8rem;
}

.info-message {
  margin-top: -0.8rem;
}

.check {
  color: green;
}

.cross {
  color: red;
}
